.form-header {
    background: cornflowerblue;
    color: white;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: -16px !important;
    width: 104.6% !important;
    text-transform: uppercase;
    overflow-x: hidden;
}